In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option("display.max_columns", None)

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. 

Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

In [3]:
part1=pd.read_csv("world-data-2023_part1.csv", index_col=0)
part1.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36

In [4]:
part2=pd.read_csv("world-data-2023_part2.csv", index_col=0)
part2.head(2)

,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [5]:
# Columnas comunes: índice y country


Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:
- (1) Explora y carga ambos conjuntos de datos en pandas DataFrames.
- (2) Identifica las columnas comunes entre los dos conjuntos de datos.

Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

In [6]:
# primero lo hacemos con un merge, haciendo la unión a través de la columna country/Country

unidos=part1.merge(part2, how="inner", left_on="Country", right_on="country")
unidos.head(2)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"

In [7]:
unidos[["Country", "country"]].head()

       Country      country
0  Afghanistan  Afghanistan
1      Albania      Albania
2      Algeria      Algeria
3      Andorra      Andorra
4       Angola       Angola

In [8]:
# print(part1.columns.tolist()) comprobamos columnas

In [9]:
part1.shape

(195, 16)

In [10]:
part2.shape

(195, 19)

In [11]:
unidos2= part1.join(part2, how="inner", lsuffix="_l", rsuffix="_r")
unidos2.head()

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,country,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",Afghanistan,"('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",Albania,"('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",Algeria,"('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",Andorra,"('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",Angola,"('-11.202692 ', '17.873887')"

In [ ]:
unidos2["Unnamed: 0_l"] == unidos2["Unnamed: 0_r"] # comparamos los valores de las columnas unnamed para ver si los índices coinciden

In [ ]:
comparacion = unidos2["Unnamed: 0_l"] == unidos2["Unnamed: 0_r"] # nos vale solo si no hemos usado unnamed como índice y sigue siendo una columna dentro del dataframe, generamos variable con este comparación para poder hacer lo siguiente:

In [ ]:
unidos2[comparacion == False] # como la tabla no devuelve ningún registro, esto significa que todos los valores de unknown coinciden entre las dos tablas.

# Ejercicios de Limpieza

1. Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [17]:
unidos.drop("country", axis=1, inplace=True)

In [18]:
unidos.head(1)

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,CPI,CPI Change (%),Currency-Code,Fertility Rate,Forested Area (%),Gasoline Price,GDP,Gross primary education enrollment (%),Gross tertiary education enrollment (%),Infant mortality,Largest city,Life expectancy,Maternal mortality ratio,Minimum wage,Official language,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"

In [19]:
unidos.shape

(195, 34)

2. Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:

- No tengan espacios.
- Estén en minúscula.
- No tengan paréntesis, es decir, quitar "(%)", "(Km2)".
- Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.
- Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [58]:
nuevas_columnas = {
    columna: columna.lower()
                   .replace(".", "")
                   .replace("(%)", "")
                   .replace("(% )", "")
                   .replace("( %)", "")
                   .replace("(km2)", "")
                   .replace("(:)", "")
                   .strip()
    for columna in unidos.columns
}

unidos = unidos.rename(columns=nuevas_columnas)

In [59]:
unidos.rename(columns={'density\n(p/km2)': 'density (p/km2)'}, inplace=True)

In [64]:
unidos.rename(columns={'urban_population': 'urban population'}, inplace=True)

In [65]:
unidos.rename(columns={'currency-code': 'currency code'}, inplace=True)

In [66]:
unidos.rename(columns={'co2-emissions': 'co2 emissions'}, inplace=True)

In [67]:
unidos

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,coordinates
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')"
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')"
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')"
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')"
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')"
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')"
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')"
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')"
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')"

3. La columnas coordinates tiene la latitud y la longitud en una sola columna. 
Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [ ]:
unidos[['latitude', 'longitude']] = unidos['coordinates'].str.split(',', n=1,expand=True)

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,coordinates,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273","('33.93911 ', '67.709953')",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593","('41.153332 ', '20.168331')",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100","('28.033886 ', '1.659626')",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873","('42.506285 ', '1.521801')",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025","('-11.202692 ', '17.873887')",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368","('6.42375 ', '-66.58973')",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140","('14.058324 ', '108.277199')",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523","('15.552727 ', '48.516388')",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713","('-13.133897 ', '27.849332')",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305","('-19.015438 ', '29.154857')",('-19.015438 ','29.154857')

In [69]:
unidos.drop('coordinates', axis=1,inplace=True) # True porque no queremos crear otro Dataframe

unidos

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.30%,AFN,4.47,2.10%,$0.70,"$19,101,353,833",104.00%,9.70%,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",('33.93911 ','67.709953')
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.40%,ALL,1.62,28.10%,$1.36,"$15,278,077,447",107.00%,55.00%,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",('41.153332 ','20.168331')
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.00%,DZD,3.02,0.80%,$0.28,"$169,988,236,398",109.90%,51.40%,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",('28.033886 ','1.659626')
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.00%,$1.51,"$3,154,057,987",106.40%,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",('42.506285 ','1.521801')
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.10%,AOA,5.52,46.30%,$0.97,"$94,635,415,870",113.50%,9.30%,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",('-11.202692 ','17.873887')
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.90%,VED,2.27,52.70%,$0.00,"$482,359,318,768",97.20%,79.30%,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",('6.42375 ','-66.58973')
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.80%,VND,2.05,48.10%,$0.80,"$261,921,244,843",110.60%,28.50%,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",('14.058324 ','108.277199')
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.10%,YER,3.79,1.00%,$0.92,"$26,914,402,224",93.60%,10.20%,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",('15.552727 ','48.516388')
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.20%,ZMW,4.63,65.20%,$1.40,"$23,064,722,446",98.70%,4.10%,40.4,Lusaka,63.5,213.0,$0.24,English,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",('-13.133897 ','27.849332')
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.90%,NaN,3.62,35.50%,$1.34,"$21,440,758,800",109.90%,10.00%,33.9,Harare,61.2,458.0,NaN,Shona,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",('-19.015438 ','29.154857')

In [ ]:
# Remove parênteses, aspas simples e espaços extras
unidos['latitude'] = unidos['latitude'].str.replace("['()]", '', regex=True)
unidos['longitude'] = unidos['longitude'].str.replace("['()]", '', regex=True)

In [72]:
unidos['latitude'].dtype

dtype('O')

4. Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure, gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". Elimina los "%" de los valores de las columnas.

In [84]:
cols = [
    'unemployment rate', 'total tax rate', 'tax revenue',
    'population: labor force participation', 'out of pocket health expenditure',
    'gross tertiary education enrollment', 'gross primary education enrollment',
    'forested area', 'cpi change', 'agricultural land'
]
unidos[cols] = unidos[cols].replace('%', '', regex=True).apply(pd.to_numeric)

In [85]:
unidos

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,$0.70,"$19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,$0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,$1.36,"$15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,$1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,$0.28,"$169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,$0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,$1.51,"$3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,$6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,$0.97,"$94,635,415,870",113.5,9.3,51.6,Luanda,60.8,241.0,$0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,$0.00,"$482,359,318,768",97.2,79.3,21.4,Caracas,72.1,125.0,$0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,$0.80,"$261,921,244,843",110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,$0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,$0.92,"$26,914,402,224",93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,$1.40,"$23,064,722,446",98.7,4.1,40.4,Lusaka,63.5,213.0,$0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,$1.34,"$21,440,758,800",109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

In [87]:
colunas_com_dinheiro = ['gasoline price', 'gdp', 'minimum wage']

for col in colunas_com_dinheiro:
    unidos[col] = (
        unidos[col]
        .astype(str)                     # garante que tudo seja string
        .str.replace('$', '', regex=False)   # remove o cifrão
        .str.replace(',', '', regex=False)   # remove separadores de milhar
        .str.strip()                     # tira espaços extras
        .astype(float)                   # converte para número
    )

5. Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [88]:
unidos

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

6. Guarda el DataFrame para usarlo posteriormente.

In [89]:
unidos_copy = unidos.copy()

In [90]:
unidos_copy

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.5,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",261.73,17.1,AOA,5.52,46.3,0.97,9.463542e+10,113.5,9.3,51.6,Luanda,60.8,241.0,0.71,Portuguese,33.4,0.21,"31,825,295",77.5,9.2,49.1,6.89,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.5,"912,050","343,000",17.88,58.0,Caracas,"164,175","2,740.27",254.9,VED,2.27,52.7,0.00,4.823593e+11,97.2,79.3,21.4,Caracas,72.1,125.0,0.01,Spanish,45.8,1.92,"28,515,829",59.7,NaN,73.3,8.80,"25,162,368",6.42375,-66.58973
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.9,"390,757","51,000",30.68,263.0,Harare,"10,983",105.51,0.9,NaN,3.62,35.5,1.34,2.144076e+10,109.9,10.0,33.9,Harare,61.2,458.0,NaN,Shona,25.8,0.21,"14,645,468",83.1,20.7,31.6,4.95,"4,717,305",-19.015438,29.154857

# Ejercicios de Filtrado

1. Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [ ]:
unidos_copy['infant mortality'].between(40,50,inclusive='both')

0       True
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192     True
193     True
194    False
Name: infant mortality, Length: 195, dtype: bool

In [93]:
unidos_copy[unidos_copy['infant mortality'].between(40,50,inclusive='both')]

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,1.910135e+10,104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
26,Burkina Faso,76,BF,44.2,"274,200","11,000",37.93,226.0,Ouagadougou,"3,418",106.58,-3.2,XOF,5.19,19.3,0.98,1.574581e+10,96.1,6.5,49.0,Ouagadougou,61.2,320.0,0.34,French,36.1,0.08,"20,321,378",66.4,15.0,41.3,6.26,"6,092,349",12.238333,-1.561593
27,Burundi,463,BI,79.2,"27,830","31,000",39.01,257.0,Bujumbura,495,182.11,-0.7,BIF,5.41,10.9,1.21,3.012335e+09,121.4,6.1,41.0,Bujumbura,61.2,548.0,NaN,Kirundi,19.1,0.10,"11,530,580",79.2,13.6,41.2,1.43,"1,541,177",-3.373056,29.918886
47,Djibouti,43,DJ,73.4,"23,200","13,000",21.47,253.0,Djibouti City,620,120.25,3.3,DJF,2.73,0.2,1.32,3.318716e+09,75.3,5.3,49.8,Djibouti City,66.6,248.0,NaN,French,20.4,0.22,"973,560",60.2,NaN,37.9,10.30,"758,549",11.825138,42.590275
72,Haiti,414,HT,66.8,"27,750",0,24.35,509.0,Port-au-Prince,"2,978",179.29,12.5,HTG,2.94,3.5,0.81,8.498982e+09,113.6,1.1,49.5,Port-au-Prince,63.7,480.0,0.25,French,36.3,0.23,"11,263,077",67.2,NaN,42.7,13.78,"6,328,948",18.971187,-72.285215
89,Kiribati,147,KI,42.0,811,NaN,27.89,686.0,South Tarawa,66,99.55,0.6,AUD,3.57,15.0,NaN,1.946472e+08,101.3,NaN,41.2,South Tarawa,68.1,92.0,NaN,English,0.2,0.20,"117,606",NaN,22.0,32.7,NaN,"64,489",1.8368976,-157.3768317
125,Niger,19,NE,36.1,"1,267,000","10,000",46.08,227.0,Niamey,"2,017",109.32,-2.5,XOF,6.91,0.9,0.88,1.292815e+10,74.7,4.4,48.0,Niamey,62.0,509.0,0.29,French,52.3,0.04,"23,310,715",72.0,11.8,47.2,0.47,"3,850,231",17.607789,8.081666
166,Sudan,25,SD,28.7,"1,861,484","124,000",32.18,249.0,Khartoum,"20,000","1,344.19",51.0,SDG,4.41,8.1,0.95,1.890228e+10,76.8,16.9,42.1,Omdurman,65.1,295.0,0.41,Arabic,63.2,0.26,"42,813,238",48.4,8.0,45.4,16.53,"14,957,233",12.862807,30.217636
175,Togo,152,TG,70.2,"56,785","10,000",33.11,228.0,Lom�,"3,000",113.3,0.7,XOF,4.32,3.1,0.71,5.459979e+09,123.8,14.5,47.4,Lom�,60.8,396.0,0.34,French,51.0,0.08,"8,082,366",77.6,16.9,48.2,2.04,"3,414,638",8.619543,0.824782
192,Yemen,56,YE,44.6,"527,968","40,000",30.45,967.0,Sanaa,"10,609",157.58,8.1,YER,3.79,1.0,0.92,2.691440e+10,93.6,10.2,42.9,Sanaa,66.1,164.0,NaN,Arabic,81.0,0.31,"29,161,922",38.0,NaN,26.6,12.91,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.1,"752,618","16,000",36.19,260.0,Lusaka,"5,141",212.31,9.2,ZMW,4.63,65.2,1.40,2.306472e+10,98.7,4.1,40.4,Lusaka,63.5,213.0,0.24,English,27.5,1.19,"17,861,030",74.6,16.2,15.6,11.43,"7,871,713",-13.133897,27.849332

2. Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [102]:
unidos_copy[unidos_copy['fertility rate'] >= 20]

Empty DataFrame
Columns: [country, density (p/km2), abbreviation, agricultural land, land area, armed forces size, birth rate, calling code, capital/major city, co2 emissions, cpi, cpi change, currency code, fertility rate, forested area, gasoline price, gdp, gross primary education enrollment, gross tertiary education enrollment, infant mortality, largest city, life expectancy, maternal mortality ratio, minimum wage, official language, out of pocket health expenditure, physicians per thousand, population, population: labor force participation, tax revenue, total tax rate, unemployment rate, urban population, latitude, longitude]
Index: []

In [101]:
unidos_copy[(unidos_copy['life expectancy'] > 75)]

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,1.527808e+10,107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,1.699882e+11,109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626
5,Antigua and Barbuda,223,AG,20.5,443,0,15.33,1.0,"St. John's, Saint John",557,113.81,1.2,XCD,1.99,22.3,0.99,1.727759e+09,105.0,24.8,5.0,"St. John's, Saint John",76.9,42.0,3.04,English,24.3,2.76,"97,118",NaN,16.5,43.0,NaN,"23,800",17.060816,-61.796428
6,Argentina,17,AR,54.3,"2,780,400","105,000",17.02,54.0,Buenos Aires,"201,348",232.75,53.5,ARS,2.26,9.8,1.10,4.496634e+11,109.7,90.0,8.8,Buenos Aires,76.5,39.0,3.35,Spanish,17.6,3.96,"44,938,712",61.3,10.1,106.3,9.79,"41,339,571",-38.416097,-63.616672
8,Australia,3,AU,48.2,"7,741,220","58,000",12.60,61.0,Canberra,"375,908",119.8,1.6,AUD,1.74,16.3,0.93,1.392681e+12,100.3,113.1,3.1,Sydney,82.7,6.0,13.59,NaN,19.6,3.68,"25,766,605",65.5,23.0,47.4,5.27,"21,844,756",-25.274398,133.775136
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,United Arab Emirates,118,AE,5.5,"83,600","63,000",10.33,971.0,Abu Dhabi,"206,324",114.52,-1.9,AED,1.41,4.6,0.49,4.211423e+11,108.4,36.8,6.5,Dubai,77.8,3.0,NaN,Arabic,17.8,2.53,"9,770,529",82.1,0.1,15.9,2.35,"8,479,744",23.424076,53.847818
185,United Kingdom,281,GB,71.7,"243,610","148,000",11.00,44.0,London,"379,025",119.62,1.7,GBP,1.68,13.1,1.46,2.827113e+12,101.2,60.0,3.6,London,81.3,7.0,10.13,English,14.8,2.81,"66,834,405",62.8,25.5,30.6,3.85,"55,908,316",55.378051,-3.435973
186,United States,36,US,44.4,"9,833,517","1,359,000",11.60,1.0,"Washington, D.C.","5,006,302",117.24,7.5,USD,1.73,33.9,0.71,2.142770e+13,101.8,88.2,5.6,New York City,78.5,19.0,7.25,NaN,11.1,2.61,"328,239,523",62.0,9.6,36.6,14.70,"270,663,028",37.09024,-95.712891
187,Uruguay,20,UY,82.6,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.9,UYU,1.97,10.7,1.50,5.604591e+10,108.5,63.1,6.4,Montevideo,77.8,17.0,1.66,Spanish,16.2,5.05,"3,461,734",64.0,20.1,41.8,8.73,"3,303,394",-32.522779,-55.765835
191,Vietnam,314,VN,39.3,"331,210","522,000",16.75,84.0,Hanoi,"192,668",163.52,2.8,VND,2.05,48.1,0.80,2.619212e+11,110.6,28.5,16.5,Ho Chi Minh City,75.3,43.0,0.73,Vietnamese,43.5,0.82,"96,462,106",77.4,19.1,37.6,2.01,"35,332,140",14.058324,108.277199

In [99]:
unidos_copy[(unidos_copy['fertility rate'] >= 20) & (unidos_copy['life expectancy'] > 75)]

Empty DataFrame
Columns: [country, density (p/km2), abbreviation, agricultural land, land area, armed forces size, birth rate, calling code, capital/major city, co2 emissions, cpi, cpi change, currency code, fertility rate, forested area, gasoline price, gdp, gross primary education enrollment, gross tertiary education enrollment, infant mortality, largest city, life expectancy, maternal mortality ratio, minimum wage, official language, out of pocket health expenditure, physicians per thousand, population, population: labor force participation, tax revenue, total tax rate, unemployment rate, urban population, latitude, longitude]
Index: []

3. Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [ ]:
capitales = unidos_copy[unidos_copy['capital/major city'].str.contains('la', regex=True, na=False)] # cadena de texto 'la'

In [113]:
capitales = unidos_copy[
    unidos_copy['capital/major city'].str.lower().str.contains(' la ', regex=True, na=False)]

In [114]:
capitales

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
3,Andorra,164,AD,40.0,468,NaN,7.2,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,3.154058e+09,106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801

4. Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [80]:
unidos['physicians per thousand'] > 5

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: physicians per thousand, Length: 195, dtype: bool

In [81]:
unidos[unidos['physicians per thousand'] > 5]

,country,density (p/km2),abbreviation,agricultural land,land area,armed forces size,birth rate,calling code,capital/major city,co2 emissions,cpi,cpi change,currency code,fertility rate,forested area,gasoline price,gdp,gross primary education enrollment,gross tertiary education enrollment,infant mortality,largest city,life expectancy,maternal mortality ratio,minimum wage,official language,out of pocket health expenditure,physicians per thousand,population,population: labor force participation,tax revenue,total tax rate,unemployment rate,urban population,latitude,longitude
9,Austria,109,AT,32.40%,"83,871","21,000",9.70,43.0,Vienna,"61,448",118.06,1.50%,EUR,1.47,46.90%,$1.20,"$446,314,739,528",103.10%,85.10%,2.9,Vienna,81.6,5.0,NaN,German,17.90%,5.17,"8,877,067",60.70%,25.40%,51.40%,4.67%,"5,194,416",47.516231,14.550072
15,Belarus,47,BY,42.00%,"207,600","155,000",9.90,375.0,Minsk,"58,280",NaN,5.60%,BYN,1.45,42.60%,$0.60,"$63,080,457,023",100.50%,87.40%,2.6,Minsk,74.2,2.0,$1.49,Russian,34.50%,5.19,"9,466,856",64.10%,14.70%,53.30%,4.59%,"7,482,982",53.709807,27.953389
42,Cuba,106,CU,59.90%,"110,860","76,000",10.17,53.0,Havana,"28,284",NaN,NaN,CUP,1.62,31.30%,$1.40,"$100,023,000,000",101.90%,41.40%,3.7,Havana,78.7,36.0,$0.05,Spanish,NaN,8.42,"11,333,483",53.60%,NaN,NaN,1.64%,"8,739,135",21.521757,-77.781167
63,Georgia,57,GE,34.50%,"69,700","26,000",13.47,995.0,Tbilisi,"10,128",133.61,4.90%,GEL,2.06,40.60%,$0.76,"$17,743,195,770",98.60%,63.90%,8.7,Tbilisi,73.6,25.0,$0.05,Georgian,57.30%,7.12,"3,720,382",68.30%,21.70%,9.90%,14.40%,"2,196,476",42.315407,43.356892
66,Greece,81,GR,47.60%,"131,957","146,000",8.10,30.0,Athens,"62,434",101.87,0.20%,EUR,1.35,31.70%,$1.54,"$209,852,761,469",99.60%,136.60%,3.6,Macedonia,81.3,3.0,$4.46,Greek,35.50%,5.48,"10,716,322",51.80%,26.20%,51.90%,17.24%,"8,507,474",39.074208,21.824312
99,Lithuania,43,LT,47.20%,"65,300","34,000",10.00,370.0,Vilnius,"12,963",118.38,2.30%,EUR,1.63,34.80%,$1.16,"$54,219,315,600",103.90%,72.40%,3.3,Vilnius,75.7,8.0,$2.41,Lithuanian,32.10%,6.35,"2,786,844",61.60%,16.90%,42.60%,6.35%,"1,891,013",55.169438,23.881275
113,Monaco,"26,337",MC,NaN,2,NaN,5.90,377.0,Monaco City,NaN,NaN,NaN,EUR,NaN,NaN,$2.00,"$7,184,844,193",NaN,NaN,2.6,Monaco City,NaN,NaN,$11.72,French,6.10%,6.56,"38,964",NaN,NaN,NaN,NaN,"38,964",43.7384176,7.4246158
140,Portugal,111,PT,39.50%,"92,212","52,000",8.50,351.0,Lisbon,"48,742",110.62,0.30%,EUR,1.38,34.60%,$1.54,"$237,686,075,635",106.20%,63.90%,3.1,Lisbon,81.3,8.0,$3.78,Portuguese,27.70%,5.12,"10,269,417",58.80%,22.80%,39.80%,6.33%,"6,753,579",39.399872,-8.224454
149,San Marino,566,SM,16.70%,61,NaN,6.80,378.0,City of San Marino,NaN,110.63,1.00%,EUR,1.26,0.00%,NaN,"$1,637,931,034",108.10%,42.50%,1.7,City of San Marino,85.4,NaN,NaN,Italian,18.30%,6.11,"33,860",NaN,18.10%,36.20%,NaN,"32,969",43.94236,12.457777
187,Uruguay,20,UY,82.60%,"176,215","22,000",13.86,598.0,Montevideo,"6,766",202.92,7.90%,UYU,1.97,10.70%,$1.50,"$56,045,912,952",108.50%,63.10%,6.4,Montevideo,77.8,17.0,$1.66,Spanish,16.20%,5.05,"3,461,734",64.00%,20.10%,41.80%,8.73%,"3,303,394",-32.522779,-55.765835

5. Encuentra los países cuyatasa de fertilidad sea mayor a 6.

6. Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

7. Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.